{% extends "base.html" %}


{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home</h1>
<p>
    Our task manager is a powerful, user-friendly to-do app designed to help you stay organized and productive. With full CRUD (Create, Read, Update, Delete) support for tasks, it allows you to easily add new tasks, view and edit existing ones, and remove completed or outdated items. Whether you're managing personal goals, work projects, or daily chores, this app is your ultimate companion for efficient task management. Simplify your life, stay on top of deadlines, and achieve more every day—try it now and take control of your tasks!
</p>
{% endblock content %}